@charset "UTF-8";

html{
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "遊ゴシック Medium", "遊ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color:#444;
}

a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}

/* HEADER */
.logo {
    width: 210px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    padding-left:30px;
    margin:5px;
}
.main-nav a:hover{
    color: #000;
    
}

.page-header {
    display: flex;
    margin-left: 100px;
}
.wrapper{
    max-width: 1100px;
}

/* 大きな背景画像 */
.big-back {
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    /*background-image: url(../images/top_bg.png);*/
    opacity: 0.5;
}
#home {
    min-height: 100vh;
}
.page-title{
    text-transform: none;
    font-family: "Yu Mincho", "YuMincho", serif;
}
title{
    font-family: "Yu Mincho", "YuMincho", serif;
}
.profile{
    margin-left: 100px;
    opacity: 1;
}
.profile-title {
    font-family: "Yu Mincho", "YuMincho", serif;
    font-size: 2rem;
    font-weight: normal;
}
.profile-body{
    
}
.mb-30{
    margin-bottom: 30px;
}
.graph{
    position: relative;
    height: 350px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    width: 80%;
    overflow: hidden;
}
.graph .graph-content {
    height: 45px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    background: #646464;
    color: white;
    width: 60%;
    border-radius: 0 4px 4px 0;
    animation: graphAnimation 2s forwards;
}
@keyframes graphAnimation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.graph .graph-content.content-1{
    bottom: 275px;
}
.graph .graph-content.content-2 {
    bottom: 200px;
}
.graph .graph-content.content-3 {
    bottom: 125px;
    width: 40%;
}
.graph .graph-content.content-4 {
    bottom: 50px;
    width: 40%
}
/* CONTACT */
.contact{
    width: 80%;
    margin-left: 100px;
}
input[type="text"],
input[type="email"],
textarea{
    display: flex;
    flex-wrap: wrap;
    background: rgba(200, 200, 200, 0.5);
    border:1px #000 solid;
    width:100%;
}
.your-profile{
    display:flex;
}
.your-profile>div{
    width:50%;
}
.contact,.contact>div{
    /* border:1px #000 solid; */
}
input[type="submit"]{
    margin-top: 10px;
    padding:5px;
    border:1px #000 solid;
}
footer {
    margin-left: 100px;
}